<h1>Restaurant list</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <h3><%= link_to restaurant_path(restaurant) do %>
      <%= restaurant.name %>
      <% end %>
    </h3>
    <p><%= restaurant.category %></p>
  </li>

<% end %>
</ul>
